

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style/styles.css"> -->
    <title>Pattern Adventure</title>
  </head>
  <body>
  <div class="container-fluid ">
      <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="logo "><a class="navbar-brand " href="index.html"> <img src="../assets/images/logo black_no website.svg" class="" width="175"  alt=""></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-item nav-link " href="products.html">Products</a>
            <a class="nav-item nav-link" href="ask.html">Ask Tailor Birgit</a>
            <a class="nav-item nav-link" href="courses.html">Courses</a>
            <a class="nav-item nav-link " href="gallery.html">Adventure gallery</a>
            <a class="nav-item nav-link mr-lg-5 " href="ask.html">About</a>
            <a class="nav-item nav-link ml-lg-2" href="login.html"><i class="fas fa-user-circle"></i>Account</a>
            <a class="nav-item nav-link pl-lg-1"href="#"><i class="fas fa-shopping-cart"></i>Cart</a>
          </div>
        </div>
      </nav>
  </div>
  <div class="container-fluid">
    <div class="container-img-main row justify-content-center">
      <div class="col col-lg-7 align-self-center">
        <div class="content-main text-center py-5 px-2 py-lg-5 px-lg-5">
          <div class="text-cont-main" alt="">
            <h1>Pattern Adventure</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="container-button">
                <a class="btn btn-grey w-75" href="products.html">Products</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="card" >
            <img class="card-img-top" src="../assets/images/1.jpg" alt="Card image cap">
            <div class="card-body text-center px-0">
              <a href="products.html" class="btn btn-blue btn-block">Products</a>
            </div>
          </div>
        </div>
        <div class="col  col-md-4 col-lg-4">
          <div class="card" >
            <img class="card-img-top" src="../assets/images/ask1.png" alt="Card image cap">
            <div class="card-body text-center px-0">
              <a href="ask.html" class="btn btn-blue btn-block">ask tailor birgit</a>
            </div>
          </div>
        </div>
        <div class="col  col-md-4 col-lg-4">
          <div class="card" >
            <img class="card-img-top" src="../assets/images/courselandscape1.jpg" alt="Card image cap">
            <div class="card-body text-center px-0">
              <a href="courses.html" class="btn btn-blue btn-block">courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer">
    <div class="container pt-5">
      <div class="row">
        <div class="col">
          <nav class="nav flex-column">
            <a class="nav-link font-weight-bold text-uppercase" href="products.html">Products</a>
            <a class="nav-link "href="#">Shell Layer</a>
            <a class="nav-link" href="#">Mid Layer</a>
            <a class="nav-link" href="#">Shell Layer</a>
            <a class="nav-link" href="#">Other Projects</a>
            <a class="nav-link" href="#">Design your own</a>
            <a class="nav-link" href="gallery.html">Adventure gallery</a>
          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a class="nav-link font-weight-bold text-uppercase" href="ask.html">Ask Tailor Birgit</a>
            <a class="nav-link" href="#">How to take your measurements</a>
            <a class="nav-link" href="#">Sewing guide</a>
            <a class="nav-link" href="#">Articles</a>
            <a class="nav-link" href="courses.html">Courses</a>
          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a class="nav-link font-weight-bold text-uppercase" href="info.html">Info</a>
            <a class="nav-link" href="info.html">About</a>
            <a class="nav-link" href="info.html#terms">Terms & Conditions</a>
            <a class="nav-link" href="info.html#privacy">Privacy Policy</a>
            <a class="nav-link" href="ask.html#answer">Contact</a>
            <a class="nav-link" href="faq.html">FAQ</a>
          </nav>
        </div>
        <div class="col">
          <h5 class="footer-header text-uppercase">add to Newsletter"</h5>
          <form>
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="name">
            </div>
            <div class="form-group">
              <label for="inputAddress">Email</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="email">
            </div>
            <button type="submit" class="btn btn-blue">Subscribe</button>
            <div class="nav">
              <a class="nav-link pl-0" href="#"><i class="fab fa-facebook pt-3 pr-2"></i>Facebook</a>
              <a class="nav-link pl-0" href="#"><i class="fab fa-instagram pt-3 pr-2"></i>Instagram</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="container mt-0">
      <div class="row">
        <div class="col">
          <p class="credit">Nature photos are in collaboration with <a href="https://www.kayjansen.com/">Kay Jansen</a></p>

        </div>

      </div>

    </div>
  </div>

  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="../assets/script/script.js">

  </script>
  </body>
  </html>
