/* * {
  font-family: 'Nunito', sans-serif;
} */

.navbar {
    background-color: rgb(193, 212, 207);
    padding: 0 50px;
  
  
  }
  .hidden {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link{
    color:rgb(70, 78, 73);
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2em;
  }
  .navbar-light .navbar-nav .nav-link:hover, .container-fluid.footer a:hover {
    color:rgb(186, 160, 75);
  
  }
  div.logo {
    margin-bottom: 1em;
  }
  
  /*footer*/
  
  .credit {
    font-size: 0.75em;
  }
  .container-fluid.footer {
    color:rgb(193, 212, 207);
    background-color: rgb(70, 78, 73);
    padding-bottom: 10px;
  }
  .footer-header {
    font-size: 1em;
    padding-top: 8px;
  }
  .container-fluid.footer a {
    color:rgb(193, 212, 207);
  }
  
  .container-img-main {
    background-image: url(../images/bg/32.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height: 45em;
    margin: 0;
  }
  .content-main{
   width: 100%;
   color:#464e49;
   background-color: #e9ecefab;
  
  
  
  }
  .text-cont-main {
    margin: auto;
  }
  
   /*img.main {
     width: 100%;
    height: auto;
    opacity: 0.9;
  
  
   }
  .container-fluid {
    padding: 0;
  }
  .main-content {
    position: absolute;
  
    width: 50%;
    color: white;
    max-height: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding-right: 15px;
  }
  
  .main-container {
    position: relative;
  }
  i {
    padding-right: 0.5em;
  }
  
  
  .btn-center {
    margin: auto;
    width: 50%;
  }
  
  .btn {
    width: 100%;
    margin-top: 2em;
  }
  
  .container {
    margin-top: 2em;
  }
  a.nav-link {
    color:white;
  }
  .footer {
    background-color: #363602ab;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: 10em;
  }
  
  
  .logo-footer {
  
  } */
  
  
  
   /* colors:
  olive rgb(102, 95, 25);
  wood  rgb(214, 189, 101);
  dark grey rgb(70, 78, 73);
  light steel rgb(193, 212, 207);
  dark khaki rgb(186, 160, 75); */
  .olive-text{
    color: rgb(102, 95, 25);
  }
  .wood-text {
    color: rgb(214, 189, 101);
  }
  
  
  
  
  *{
    font-family: Bodoni;
  }
  .list-group {
    display: block;
  }
  .product-table {
    width: 50%;
    border: 1px solid black;
  }
  tr, td, th {
      border: 1px solid black;
  }
  th {
    background-color: rgb(193, 212, 207);
  }
  
  
  .tab-content .tab-pane {
    border: 1px solid black;
    border-top: 0;
    min-height: 20em;
  }
  .fabric ul li {
    list-style: none;
  }
  .list-group {
  
      border-bottom: 1px solid black;
      min-height: 31px;
  }
  .list-group a {
    text-transform: uppercase;
    color: grey;
    padding: 7px 17px 10px;
    margin: 0 3px;
    border: 1px solid black;
    text-decoration: none;
  }
  
  .list-group a:hover {
    color: white;
    background-color: rgb(193, 212, 207);
  }
  .product-desc-item.active {
  z-index: 2;
  color: black;
  background-color: white;
  border-color: black;
      border-bottom: 1px solid white;
  }
  
  .product-desc-item.active:hover {
    background-color: white;
    color: black;
  }
  
  
  hr {
    border-top: 2px solid rgba(222,226,230,.25);
  }
  /* containers */
  
  .container-fluid {
    padding: 0;
  }
  .container-fluid.main {
    padding: 0;
    background-color: grey;
  }
  .container-fluid.prod-main{
      margin-top: 5em;
  }
  .container {
    max-width: 80%;
    margin-top: 5em;
  }
  .container.form {
    max-width: 30%;
    margin-bottom: 10em;
  }
  .container.form-big {
    max-width: 50%;
    margin-bottom: 10em;
  }
  .container.faq {
    max-width: 50%;
    padding: 30px;
  }
  .container.faqatb {
    width: 100%;
    padding: 30px;
  }
  .container.filters {
    margin-top: 0;
    margin-left: 0;
  }
  
  /* Buttons */
  .btn-grey {
    color: rgb(193, 212, 207);
    background-color: rgba(120, 130, 127, 1);
    border-color: rgba(120, 130, 127, 1);
    text-transform: uppercase;
  }
  .btn-grey:hover {
    color: rgb(70, 78, 73);
    background-color: rgb(193, 212, 207);
    border-color: rgb(193, 212, 207);
  
  }
  .btn-blue {
    color: rgb(70, 78, 73);
    background-color: rgb(193, 212, 207);
    border-color: rgb(193, 212, 207);
    text-transform: uppercase;
  }
  
  .btn-blue:hover {
    color: rgb(193, 212, 207);
    background-color: rgba(120, 130, 127, 1);
    border-color: rgba(120, 130, 127, 1);
  }
  
  
  a.button-link {
    background-color: rgb(70, 78, 73);
    color: rgb(193, 212, 207);
    padding: 15px 100px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
  }
  
  a.button-link:hover {
    background-color: rgb(193, 212, 207);
    color: rgb(70, 78, 73);
  }
  
  /* Account */
  
  .user-info {
    background-color: rgba(193, 212, 207, .25);
    border: 2px solid;
    border-color:  rgb(70, 78, 73);
  }
  
  .text-over-img {
    position: relative;
    bottom: 600px;
    margin: auto;
  
    background-color: rgba(70, 78, 73, .4);
  }
  .text-over-img .img-content{
    text-align: center;
    padding: 4em;
    width: 60%;
    margin: auto;
    color: white;
  }
  
  /* .container-button {
    margin-top: 3em;
  }
  
  
   */
  
  /*gallery*/
  
  ul.nav.justify-content-center {
    padding: 3em 0;
  }
  
  .nav.justify-content-center.gallery {
      text-transform: uppercase;
      text-decoration: none;
  
  }
  
  .nav.justify-content-center.gallery .nav-item {
  
      border-right: 1px solid rgb(70, 78, 73);
  
  }
  .nav.justify-content-center.gallery  .nav-item:last-child {
      border-right: 0;
  }
  .nav.justify-content-center.gallery .nav-link {
    color: rgb(70, 78, 73);
    font-weight: bold;
  }
  
  .nav.justify-content-center.gallery .nav-link:hover {
    color: rgb(102, 95, 25);
  }
  
  /* gallery overlay text */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(70, 78, 73, .85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-md-4:hover .overlay {
    height: 30%;
  }
  
  .overlay a {
    color:rgb(193, 212, 207);
  
  }
  .text-overlay {
    margin: auto;
  
  }
  
  /* ATB */
  
  .container-img.atb{
  
    background-image: url(../images/atb/pattern-capture.JPG);
    border-bottom: 1px solid black;
    min-height: 25em;
  }
  
  /* .content-atb {
    width: 60%;
    align-items: center;
    margin: auto;
  } */
  .row.align-items-center.atb {
    padding-top: 150px;
  }
  img.atb {
    max-width: 350px;
    margin-top: -11em;
    margin-left: 10%;
  }
  
  .content-atb {
    max-width: 80%;
    padding-top: 20px;
    padding-left: 10px;
    /* border: 1px solid black; */
    /* margin: auto; */
    margin-left: 10%;
    /* background-color: rgba(70, 78, 73, .5); */
    color: rgba(70, 78, 73, 1);
  
  }
  .content-atb ul {
    padding-left: 0;
  }
  .content-atb ul li {
    list-style: none;
  
  }
  .atb-lines {
    height: 175px;
    width: 370px;
    margin-left: 10.6em;
    margin-top: -11em;
    border: 1px solid black;
    border-top: 0;
    border-bottom:  1px solid white;
  }
  .b-wi {
    min-width: 40%;
    max-width: 45%;
    margin: auto;
    padding-top: 3em;
  }
  /* .btn-link, .btn-link:hover, .btn-link:visited {
    color:rgba(70, 78, 73, 1);
    font-weight: bold;
    text-decoration: none;
  }
  .btn-link:focus {
    color:  rgb(186, 160, 75);
    text-decoration: none;
    font-weight: bold;
  } */
  .card-header {
    background-color: white;
    border:0;
  }
  .card {
    border:0;
  }
  #accordion {
    padding-top: 4em;
    border-top: 2px solid rgba(70, 78, 73, 1);
  }
  .btn.btn-link.dropdown-toggle {
    padding-left: 0;
  }
  
  .text-content {
    text-align: center;
  }
  /* .button-link.btn-block.text-center {
    width: 100%;
    padding: 15px;
    margin:auto;
  
  }
  .text-cont-main .button-link.btn-block.text-center {
    background-color: rgb(193, 212, 207);
    color: rgb(70, 78, 73);
  } */
  
  .img-products {
    margin: auto;
  
  }
  /* .btn-primary, .btn-primary:hover  {
    background-color: rgb(70, 78, 73);
    color: rgb(193, 212, 207);
    padding: 15px 100px;
    border: 0;
  } */
  ul.menu-prod {
    list-style: none;
    padding-left: 0;
  
  }
  .menu-left {
    color:rgb(70, 78, 73);
  
  
  }
  .bg-bl {
  
  }
  .container.product-c {
    width: 80%;
  }
  /* .nav-tabs .nav-item {
    border: 1px solid black;
    margin: 0 1em
  } */